<div class="chart" id="pieChartContainer"></div>
<div class="chart" id="barChartContainer"></div>
<div class="section-row">
  <div class="section-col-2">
    <div class="section">
      <p class="color-blue">Total expenditure :</p>
      <h3><span class="font-weight-500">₹</span>{{ totalExpenditure }}</h3>
    </div>
  </div>
  <div class="section-col-2">
    <div class="section">
      <p class="color-yellow">Most spent on :</p>
      <h3><span class="font-weight-500"></span> {{ mostSpentonCategory }}</h3>
    </div>
  </div>
</div>
